<!DOCTYPE>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <link rel="shortcut icon" href="/images/misc/favicon.png" type="image/png">
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="nav"></div>
        <div class="content"></div>
        <div class="footer">
            <a href="/about">Jian Shen (JS) Tan</a>
            <br><br>
            <a href="https://twitter.com/jian_shen_tan" class="twitter-follow-button" data-show-count="false" data-size="small">Follow @jian_shen_tan</a>
            <!--script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script-->
        </div>
        
        <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>        
        <script type="text/javascript" src="/js/index.js"></script>
    </body>
</html>
