<!DOCTYPE>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <link rel="shortcut icon" href="/images/misc/favicon.png" type="image/png">
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-38645069-1', 'jianshentan.com');
          ga('send', 'pageview');

        </script>
    </head>
    <body>
        <div class="nav"></div>
        <div class="content"></div>
        <div class="footer">
            <a href="/about">Jian Shen (JS) Tan</a>
            <br><br>
            <a href="https://twitter.com/jian_shen_tan" class="twitter-follow-button" data-show-count="false" data-size="small">Follow @jian_shen_tan</a>
            <!--script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script-->
        </div>
        
        <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>        
        <script type="text/javascript" src="/js/index.js"></script>
    </body>
</html>
