<!DOCTYPE>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="nav"></div>
        <div class="content"></div>
        <div class="footer"></div>
        <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>        
        <script type="text/javascript" src="/js/index.js"></script>
    </body>
</html>
