body {
    font-family: 'Droid Sans', arial, sans-serif;
    margin: 0px;
    min-width: 800px;
}

hr {
    background-color: #ccc;
    height: 2px;
    border: none;
}

.content {
    position: relative;
    text-align: left;
    margin: 100px auto;
    width: 800px;
    font-size: 14px;
    line-height: 150%;
}

.footer {
    position: relative;
    text-align: center;
    margin: 100px auto;
    width: 800px;
    font-size: 14px;
    line-height: 150%;
}

/* ---- NAV ---- */
.nav {
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    top: 0px;
    background-color: rgba(255,255,255,0.8);
    z-index: 1000;
}

#navlist {
    text-align: center;
    font-weight: bold;
    -webkit-padding-start: 0px;
}

#navlist #nav-build { border: 3px solid #282899; color: #282899; }
#navlist #nav-hack { border: 3px solid #e56e1f; color: #e56e1f; }
#navlist #nav-work { border: 3px solid #15cc19; color: #15cc19; }
#navlist #nav-about { border: 3px solid #6d6d6d; color: #6d6d6d; }

#navlist #nav-build.active { background-color: rgba(40,40,153,0.2); }
#navlist #nav-hack.active { background-color: rgba(153,40,40,0.2); }
#navlist #nav-work.active { background-color: rgba(40,153,40,0.2); }
#navlist #nav-about.active { background-color: rgba(180,180,180,0.4); }

#navlist li {
    display: inline;
}

#navlist .navbtn {
    display: inline;
    padding: 6px 20px;
    margin: 5px 15px;
    text-decoration: none;
}
#navlist li div:hover { cursor: pointer; }


/* ---- BUILD ---- */
.build {
    width: 800px;
    margin: 0 auto;
}

.hero {
    width: 800px;
    height: 250px;
    margin: 20px 0;
    position: relative;
}
.hero:hover { cursor: pointer; }

.hero .hero-image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.hero .hero-overlay { 
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    text-align: left;
    color: white;
    background-color: rgba(80, 120, 203, 0.6);
}

.hero .hero-overlay .title {
    font-size: 18px;
    position: relative; 
    padding: 20px 20px 0px 20px;
}

.hero .hero-overlay .desc {
    font-size: 15px;
    position: relative; 
    padding: 0px 20px 20px 20px;
}


/* ---- Show More ----- */
.showmore-separator{
    margin: 50px 0;
}

.showmore-tile {
    width: 250px;
    height: 250px;
    position: relative;
    display: inline-block;
    margin: 8px 8px;
    color: white;
}
.showmore-tile:hover { cursor: pointer; }

.showmore-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: blue;
}

.showmore-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(80, 120, 203, 0.6);
}

.showmore-tile .showmore-title {
    font-weight: bold;
    font-size: 18px;
    position: relative; 
    padding: 20px 20px 0px 20px;
}
.showmore-tile .showmore-desc {
    font-size: 15px;
    position: relative; 
    padding: 0px 20px 20px 20px;
}

/* ---- Dogcase ---- */

.dogcase {
}

/* ---- Horsetable ---- */
.horsetable-poster {
    text-align: center;
}

/* ---- Continuousprofiles ---- */
.continuousprofiles_name {
    display: inline-block;
    width: 157px;
    vertical-align: top;
    text-align: center;
}

.continuousprofiles_personalculture_img {
    display: inline-block;
}
.continuousprofiles_personalculture_desc {
    display: inline-block;
    width: 250px;
    margin-left: 40px;
    vertical-align: top;
}

/* ---- Vaderstool ---- */
.vaderstool {
    line-height: 150%;
}

.diagram {
    text-align: right;
}

.diagram_img {
    display: inline-block;
}

.diagram_desc {
    text-align: left;
    display: inline-block;
    width: 450px;
    vertical-align: top;
    margin-left: 50px;
}

/* ---- Hack & Work ---- */
.work, 
.hack {
    margin: 0 auto;
    width: 700px;
    min-height: 500px;
}

.entry {
    padding: 20px; 
}
.entry:hover { background-color: #eee; }

.tab {
    height: 70px;
    width: 100%;
}

.tab img {
    display: inline-block;
}

.tab .text {
    margin: 0 16px;
    display: inline-block;
    vertical-align: top;
    width: 530px;
}

.tab .text .title {
    font-size: 1.1em;
    line-height: 25px;
}

.tab .text .summary {
    line-height: 20px;
}

.tab .option {
    width: 20px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.tab .option-btn {
    margin: 0 auto;
    position: absolute;
    top: 40%;
}
.tab .option-btn:hover { cursor: pointer; }

.entry .desc {
    margin-left: 90px;
    margin-right: 40px;
    margin-top: 16px;
    display: none;
    line-height: 20px;
}

.back-btn {

}
.back-btn-top {
    margin-bottom: 40px;
}
.back-btn-bottom {
    margin-top: 40px;
}

/* ---- Zobeide ---- */
.zobeide-center {
    text-align: center;
}

/* ---- Nola ---- */
.nola-center {
    text-align: center;
}

/* ---- About ---- */
.about {
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

.about .my-name {
    font-size: 20px;
    line-height: 38px;
}
